h3{
    margin-left: 50px;
}
span{
    margin-left: 20px;
    color:blue;
    text-align: center;

}
p {
    text-align: center;
    padding-top: 50px;

}
p a{
    text-decoration: none;
}
image